//to ignore cli warning about deprecated mixin
$enable-deprecation-messages: false;
$ignore-warning: true;

// Custom class not bootstrap
$fn: "HelveticaNeue"; // fn = font normal
$fm: "HelveticaNeueMed"; // fm = font Medium
$border-radius: 0.75rem;

// Typography
$font-family-base: "Roboto", sans-serif;
$headings-font-weight: 500;
// $headings-font-family:        $fm;

$font-size-base: 0.875rem !default;
$font-weight-base: 400 !default;
// $line-height-base: 1.6;
$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.938rem;

//
// Color system
//
$white: #fff !default;
$dgray-100: #e6ecf4 !default;
$dgray-200: #88959e !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #5e72e4;
$indigo: #6610f2 !default;
$purple: #7d49eb !default;
$pink: #e83e8c !default;
$red: #ee3232;
$orange: #ff9900 !default;
$yellow: #fffa6f;
$green: #297f00;
$teal: #20c997 !default;
$cyan: #3065d0;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$muted: #89879f;
$text-muted: #89879f;
$mine-shaft: #262626;
$ebony-clay: #232833;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
  ),
  $colors
);

$primary: #0c53fb !default;
$primary-blue: #0144ea !default;
$gray-2: #f2f5fa !default;
$gray-3: #f0f1f6 !default;
/*$primary  : #7356f1 !default;*/
$secondary: #a336c9 !default;
$success: #2bc155 !default;
$info: #369dc9 !default;
$warning: #ffb800 !default;
$danger: #f46b68 !default;
$light: #d1d1d1 !default;
$dark: #1e3058;
$dark-2: #152443;
$body-color: #7e7e7e;

// Body
$body-bg: #f2f5fa;
$body2-bg: #fbfbfd;

.dark-bg {
  background-color: $dark;
  .card-tabs .nav-tabs {
    background-color: $dark-2;
    .nav-link {
      color: white;
      background: transparent;
      &.active {
        background: white;
        color: $dark;
      }
    }
  }
}

.more-ico-btn {
  color: black !important;
  background-color: $gray-3 !important;
  border-color: $gray-3 !important;
  height: 45px;
  line-height: 0.9;
  max-width: 155px;

  .btn-icon-right {
    background-color: $primary !important;
    color: white !important;
    padding: 0.5rem 0.65rem;
    margin-top: -0.6rem !important;
  }
}

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  ),
  $theme-colors
);

// $base-font-size   : 0.8125rem !default;
$heading-primary-size: 1.8rem;
$sub-heading-size: 1.6rem !default;

$grid-gutter-width: 30px;

$dropdown-lik-color: $body-color;

$border-color: #eeeeee;
$headings-color: #3d4465 !default;
$rounded: 0.75rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440,
);
